/* css/index.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Fonte e background-color já estão sendo aplicados pelo global.css! */
}

.loader {
    text-align: center;
    color: var(--secondary-blue);
    /* Usando a variável do global.css */
}

.loader a {
    color: var(--primary-blue);
    font-weight: bold;
}

.loader a:hover {
    text-decoration: underline;
}

